* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#center {
  width: 70%;
  /* margin: 0% 17.5% 0% 17.5% ; */
  /* 外边距, 上 右 下 左 */
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

h1 {
  font-size: 24px;
}

/* 悬停于登录或注册字样时,自动变成红色 */
.user-actions a:hover {
  color: red;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;

}

.search-bar button {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background-color: #eee;
  cursor: pointer;
}

.user-actions {
  display: flex;
}

.user-actions a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

nav {
  background-color: rgb(133, 96, 153);
}

/* 将无序列表设置为flex布局,去除默认的列表样式,并设置左右内边距 */
nav ul {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding: 0px 2px;
}

/* 设置列表项的左右外边距 */
nav li {
  margin: 20px 20px;
}

/* 设置链接的颜色为白色,去除下划线,并设置内边距 */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* 鼠标悬停时,背景色变为红色 */
li:hover {
  background-color: red;
  transform: scale(1.2);
  transform-origin: left top;
}

nav li.active {
  background-color: red;
}

.personal-recommendations {
  margin-top: 10px;
  background-color: rgb(255, 185, 0);
  height: 50px;
  line-height: 50px;
  padding-left: 10px;

}

h2 {
  margin-bottom: 5px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book {
  border: 2px solid rgb(241, 241, 241);
  width: 200px;
  margin: 20px;
  text-align: center;
  padding: 5px;
}

.book img {
  max-width: 100%;
  height: auto;
}

.book {
  line-height: 1.2
}

.rating{
  font-size: 18px;
  display: inline-flex;
  cursor: pointer;
  color: #ccc;
}

.rating .star.selected {
  color: orange;
}

.rating1 .star:hover .star-rating .star:hover~.star {
  color: orange;
}

.rating1 .star:hover~.star {
  color: #ccc;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.page-link {
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  color: #777777;
  text-decoration: none;
}

.page-link:hover {
  text-decoration: underline;
}

.page-info {
  font-size: 16px;
  color: #333;
}


/* flex - wrap: wrap;
这是 CSS Flexbox 布局中的一个属性。它用于控制当弹性容器中的子元素在一行（或一列，取决于flex - direction属性）中排列不下时的行为。
当设置为wrap时，子元素会在需要时自动换行到下一行（或下一列）。 */