body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    width: 800px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 20px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight:bold ;
    color: #7e7b7b;
}

input {
    width: 500px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #00c4f5;
}

.login-button {
    background-color: #ffcc00;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    width: 50px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e6b800;
}

.register-link {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
